# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/test1/LCS/.vs
/test1/LCS/bin
/test1/LCS/obj

.gitattributes
/test2/ReadAllText/packages/
/test2/ReadAllText/ReadAllText/bin/
/test2/ReadAllText/ReadAllText/obj/
/test2/ReadAllText/.vs/
/test4/LCS_Word/LCS_Word/bin/
/test4/LCS_Word/LCS_Word/obj/
/test3/LCS_Word/LCS_Word/bin/
/test3/LCS_Word/LCS_Word/obj/
/test4/testwindow/testwindow/bin/
/test4/testwindow/testwindow/obj/
