# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/test1/LCS/.vs
/test1/LCS/bin
/test1/LCS/obj

.gitattributes
